<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script src="/static/js/htmx.js"></script>

<div class="container is-fluid">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/static/Frame 1.png" width="112" height="28">
            </a>

            <a class="navbar-item" href="/">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Explore
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/teams/view">
                        Teams
                    </a>
                    <a class="navbar-item" href="/games/view_all">
                        Games
                    </a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href='/docs'>
                            <strong>API Docs</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>

{% block title %}
{% endblock %}

<head>

</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</body>

</html>