{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="content">
            <h1 class='title is-1'>A site for AUDL stats</h1>

            ultidata was started to make accessing AUDL data easier.

            <h2 class="title is-2">Looking for data?</h2>
            Check out the <a href='/docs'>API docs</a>

            <h2 class="title is-2">Just want to explore?</h2>
            Start by <a href='/teams/view'>finding a team</a>

            <h2 class="title is-2">Contribute</h2>
            Ideas on how to improve? Checkout the project on <a
                href='https://github.com/BakerAugust/audl-api'>github</a> or email me at n.baker.august@gmail.com.

        </div>
    </div>
</body>
{% endblock %}